@font-face{font-family:b;src:url(f/b.otf)}
@font-face{font-family:r;src:url(f/r.otf)}
body{background-color:#25f;font-family:r;}
h2{font:16pt b;}
.logo{height:45px;margin-bottom:2.5px;}
.header{height:50px;}
.title{display:inline;position:absolute;top:0px;width:auto;left:60px;}
.scrambles{background-color:#47f;max-width:700px;padding:30px;}
li{margin-bottom:10px;}
button{background-color:#25f;margin-bottom:5px;outline:none;border:none;width:100%;height:30px;font:18px b;text-align:left;}
#three,#two,#four,#five,#six,#seven,#threebld,#fmc,#threeoh,#clock,#mega,#pyra,#skewb,#squan,#twobld,#twotwothree,#mirror,#kilo,#fifteen,#twotofour{display:none;}